<div class="contents row">
  <div class="container">

<h2>ユーザー情報変更 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :email %><i>(メールアドレスを変更したい場合は直してください)</i><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更したいパスワードを入力、アドレスの変更の場合は空欄)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><i>(上記と同じ変更したいパスワードを入力、アドレスの変更の場合は空欄)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(本人確認の為、現在のパスワードを入力)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ユーザー情報を変更する" %>
  </div>
<% end %>



<p>ユーザー登録、予約登録も削除しますか? <%= button_to "ユーザー登録を削除する", registration_path(resource_name), data: { confirm: "本当にユーザーを削除しますか?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
