<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2><%= @event.user.nickname %>様 </h2>
  <hr />
  <p>
    アート理容室の予約が完了しました。<br>
誠にありがとうございます。<br>
予約内容<br>
</p>
<p>
  <strong>予約した名前:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>開始時間:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>終了時間:</strong>
  <%= @event.end_date %>
</p>
<p>
  予約当日はお待ちしております。
</p>
<p>
初めて予約をしてくださったお客様にお知らせです。<br>
店主が急病、もしくは急な用件で営業出来なくなった場合、<br>
予約を入れてくださったお客様に連絡をさせていただきます。<br>
このメールの文章を載せたまま返信していただくと<br>
予約した名前とメールアドレスが分かりますので<br>
連絡を差し上げることができます。<br>
(引用返信のやり方がわからない方は予約で入力した名前を記載して返信して下さい)<br>
メールを毎日見る習慣の無い方は、<br>
このまま返信で電話番号(と予約で入力した名前)を記載していただければ<br>
店主より電話にて連絡できますので返信いただければと思います。<br>

今後もアート理容室を宜しくお願い申し上げます。<br>
店主○○<br>

こちらから <%= @url %> ホームページへ行くことができます。</p>
  <hr />
</body>
</html>