<h1 class="description-title">ユーザー登録の手順</h1>
<p class='list-description'>① 画面右上の「ユーザー登録」を押し、必要項目を入力して「登録する」を押してください。</p>
<p class='list-description'>注）ニックネームは本名でも可能ですが本名が予約カレンダーに公開されてしまいます</p>
<p class='list-description'>注）パスワードはご自身で覚えやすいものにしてください。（もし忘れてしまったらログイン画面から再設定できます）</p>
<p class='list-description'>注）メールアドレスが必要なのでアドレスが無い方はヤフーのフリーアドレスなどを開設してください。（詳しい方に頼んでください）</p>

<p class='list-description'>② 登録するとメールが送信されます。登録した時と同じスマホ・パソコンでメール開き、リンクをクリックして認証を行ってください。</p>

<%= image_tag '2020-11-18 14.59.00', :size =>'400x400'%><br>
<p class='list-description'>メールのリンクをクリックすると新しい画面が表示され、下記の表示が出ていれば登録成功です。</p>
<%= image_tag '2020-11-18 15.16.31', :size =>'400x400'%>
</p>

<h1 class="description-title">ログイン後、予約の登録手順</h1>
<p class='list-description'>① まずカレンダーを見て、空いている時間を探します。</p>
<p class='list-description'>画面右側の < > のボタンを押すと週が変わります。todayボタンを押すとカレンダーが本日に戻ります(本日は橙色で表示)</p>
<p class='list-description'>空いている時間を確認したら画面の右上の「予約新規登録」をクリックしてください。</p>
<p class='list-description'>(白髪染めや髭剃りのみ、パーマなど何時間かかるか分からない場合は電話にて問合せください)</p>
<%= image_tag '2020-11-18 14.57.37', :size =>'550x700'%>
<p class='list-description'>② 予約が登録されると予約完了のメールが送られます。予約が登録されたらカレンダーを確認してください。</p>
<p class='list-description'>下記画面のように登録した予約の枠が表示されます。この枠をクリックすると予約の詳細が見れます。</p>
<p class='list-description'>この詳細は予約登録者と管理者(店主)のみが見ることができます。この詳細から予約の変更、取り消しも行えます。</p>
<%= image_tag '2020-11-18 15.51.41', :size =>'350x400'%>
<p class='list-description'>注）カレンダーに下記の様な枠の表記がされている場合は間違った入力の可能性があります。修正してください。</p>
<p class='list-description'>予約の変更はカレンダーの枠をクリックするか、マイページの予約表示から予約変更することができます。</p>
<%= image_tag '2020-11-18 16.03.05', :size =>'400x450'%>
<%= image_tag '2020-11-18 15.52.13', :size =>'400x450'%>
<p class='list-description'>注）本当に稀ですが、予約のタイミングが重なってお客様の予約時間が重複してしまうことがあり得ます。</p>
<p class='list-description'>注）下記画面の様に表記されている場合、nick様の予約完了時は重なっていなかったので、後から遅れて予約したのはニック様となります。</p>
<%= image_tag '2020-11-18 16.24.14', :size =>'400x450'%>
<p class='list-description'>注）このケースの場合はニック様が３０分予約を遅くずらしていただく様お願い致します。</p>
<p class='list-description'>注）どちらが遅れて予約したのか分からないケースは、両お客様が１５分早く変更、１５分遅く変更してもらい、重なった時間がないようにしていただけると幸いです。</p>
<p class='list-description'>※ 店主はお客様の入れた予約の変更が出来るので判断に迷う時は電話にてお問い合わせ下さい。</p>
<%= link_to 'トップページに戻る', events_path ,class: "sell-title" %>
<p></p>