<!DOCTYPE html>
<html>
  <head>
    <title>ArtCutCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <%# <a href= / ><img style="width:330px; height:52px;" src="assets/スクリーンショット 2021-01-14 12.45.00"></a> %>
        <%= link_to image_tag("スクリーンショット 2021-01-14 17.44.55",:size =>'260'), root_path %>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>さん
            <ul class="user__info">
              <li><%= link_to "予約表示", "/users/#{current_user.id}" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to '情報編集', edit_user_registration_path, method: :get %></li>
            </ul>
          </span>
            <%= link_to '予約新規登録', new_event_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "ユーザー登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <center><font size="4" color="green">
        営業時間AM9時〜PM7時<br>毎週月曜、第二第三火曜定休日(その他年始年末休みなどカレンダーに表示されています)
      </font></center>
      <font color="yello"><p>
        Copyright ○○理容室 2021.
      </p></font>
    </footer>
  </body>
</html>